<div id="main" class="container-fluid mb-3">
    <h3 class="title"><b><i>View Curriculum</i></b></h3>
    <form [formGroup]="ViewCurriculumForm">
        <div id="viewCurriculum" class="col-sm-10">
            <div class="row">
                <div class="col">
                    <label class="required">Standard</label>
                    <select class="custom-select" class="form-control" name="standard" (change)="getSections()"
                        formControlName="standard">
                        <option value="" selected>Select the standard</option>
                        <option [value]="standard" *ngFor="let standard of standardList">{{standard}}</option>
                    </select>
                    <div *ngIf="standard?.invalid &&(standard?.touched||standard?.dirty)">
                        <div class="error" *ngIf="standard?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label class="required">Section</label>
                    <select class="custom-select" class="form-control" name="section" formControlName="section"
                        (change)="getSubjects()">
                        <option value="" selected>Select the section</option>
                        <option *ngFor="let class of classList">{{class.section}}</option>
                    </select>
                    <div *ngIf="section?.invalid &&(section?.touched||section?.dirty)">
                        <div class="error" *ngIf="section?.errors?.required">* This field is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-group">
                <label class="required">Subject Name</label>
                <select class="custom-select" class="form-control" name="subject" formControlName="subject">
                    <option value="" selected>Select the subject</option>
                    <option *ngFor="let subject of subjectList">{{subject.code}}-{{subject.name}}</option>
                </select>
                <div *ngIf="subject?.invalid &&(subject?.touched||subject?.dirty)">
                    <div class="error" *ngIf="subject?.errors?.required">* This field is required</div>
                </div>
            </div>
            <button id="submitButton" class="btn btn-info" type="submit" (click)="getCurriculum()"
                [disabled]="!ViewCurriculumForm.valid">View Curriculum</button>
            <button id="resetButton" class="btn btn-info" type="reset">Reset</button>
        </div><br>
        <ng-template #elseBlock>
            <label class="notFound">{{errorMessage}}</label>
        </ng-template>
        <div *ngIf="unitList.length>0 else elseBlock">
            <table class="table table-bordered" [hidden]="isHidden">
                <thead>
                    <tr>
                        <th>Unit Number</th>
                        <th>Unit Name</th>
                        <th>Description</th>
                        <th>Month</th>
                        <th>View Topics</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let unit of unitList;let i=index">
                        <td>{{unit.unitNo}}</td>
                        <td>{{unit.unitName}}</td>
                        <td>{{unit.description}}</td>
                        <td>{{unit.month}}</td>
                        <td><button class="btn btn-success" type="submit" (click)="viewTopic(topicList[i])">View Topics</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>