<div class="container-fluid mb-3">
    <h3 class="title"><b><i>Staff Registration Form</i></b></h3>
    <form [formGroup]="AddStaffForm" >
        <div class="boxed">
            <div class="form-group">
                <label class="required">Staff Id</label>
                <input type="number" class="form-control" name="id" formControlName="id" placeholder="Enter the id">
                <div *ngIf="id?.invalid &&(id?.dirty||id?.touched)">
                    <div class="error" *ngIf="id?.errors?.required">* This field is required</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="required">First Name</label>
                    <input type="text" class="form-control" name="firstName" formControlName="firstName"
                        placeholder="Enter the first name">
                    <div *ngIf="firstName?.invalid &&(firstName?.dirty||firstName?.touched)">
                        <div class="error" *ngIf="firstName?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName" formControlName="lastName"
                        placeholder="Enter the last name">
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <label class="required">Date of Birth</label>
                    <input type="date" class="form-control" name="dateOfBirth" formControlName="dateOfBirth"
                        placeholder="Enter the date of birth">
                    <div *ngIf="dateOfBirth?.invalid &&(dateOfBirth?.dirty||dateOfBirth?.touched)">
                        <div class="error" *ngIf="dateOfBirth?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label class="required">Gender</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" formControlName="gender" name="gender"
                            value="Male">
                        <label class="form-check-label">Male</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" formControlName="gender" name="gender"
                            value="Female">
                        <label class="form-check-label">Female</label>
                    </div>
                    <div *ngIf="gender?.invalid &&(gender?.dirty||gender?.touched)">
                        <div class="error" *ngIf="gender?.errors?.required">* This field is required</div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <label class="required">Qualification</label>
                    <select class="custom-select" class="form-control" name="qualification"
                        formControlName="qualification">
                        <option value="" selected>Select the qualification</option>
                        <option [value]="qualification" *ngFor="let qualification of qualificationList">
                            {{qualification}}
                        </option>
                    </select>
                    <div *ngIf="qualification?.invalid &&(qualification?.touched||qualification?.dirty)">
                        <div class="error" *ngIf="qualification?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label class="required">Major</label>
                    <select class="custom-select" class="form-control" name="major" formControlName="major">
                        <option value="" selected>Select the major</option>
                        <option [value]="major" *ngFor="let major of majorList">{{major}}</option>
                    </select>
                    <div *ngIf="major?.invalid &&(major?.touched||major?.dirty)">
                        <div class="error" *ngIf="major?.errors?.required">* This field is required</div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <label class="required">Email</label>
                    <input type="email" class="form-control" name="email" formControlName="email"
                        placeholder="Enter the email">
                    <div *ngIf="email?.invalid &&(email?.dirty||email?.touched)">
                        <div class="error" *ngIf="email?.errors?.required">* This field is required</div>
                        <div class="error" *ngIf="email?.errors?.email">* Enter the valid email</div>
                    </div>
                </div>
                <div class="col">
                    <label class="required">Contact Number</label>
                    <input type="tel" class="form-control" name="contactNo" formControlName="contactNo"
                        placeholder="Enter the contact number">
                    <div *ngIf="contactNo?.invalid &&(contactNo?.dirty||contactNo?.touched)">
                        <div class="error" *ngIf="contactNo?.errors?.required">* This field is required</div>
                        <div class="error" *ngIf="contactNo?.errors?.pattern">* Phone number only contains 10 digits
                        </div>
                    </div>
                </div>
            </div><br>
            <button id="submitButton" class="btn btn-info" type="submit" (click)="addStaff()" [disabled]="!AddStaffForm.valid">Submit</button>
            <button id="resetButton" class="btn btn-info" type="submit" (click)="addAddress()" [hidden]="!isHidden">Next</button>
        </div>
    </form>
</div>