<div class="container-fluid mb-3">
    <h3 class="title"><b><i>Topics Details</i></b></h3>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>Unit Number</th>
                <td>{{topicList[0].unit?.unitNo}}</td>
            </tr>
            <tr>
                <th>Unit Name</th>
                <td>{{topicList[0].unit?.unitName}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{topicList[0].unit?.description}}</td>
            </tr>
            <tr>
                <th>Month</th>
                <td>{{topicList[0].unit?.month}}</td>
            </tr>
            <tr  >
                <th>Topics</th>
                <td><div *ngFor="let topic of topicList">{{topic.name}}</div></td>
            </tr>
        </table>
        <button id="closeButton" class="btn btn-info" type="submit" (click)="close()">Close</button>
    </div>
</div>