<div id="main" class="container-fluid mb-3">
    <h3 class="title"><b><i>Add Discussion Form</i></b></h3>
    <form [formGroup]="AddDiscussionForm">
        <div id="addDiscussion" class="col-sm-8">
            <div class="row">
                <div class="col">
                    <label class="required">Standard</label>
                    <select class="custom-select" class="form-control" name="standard" (change)="getSections()"
                        formControlName="standard">
                        <option value="" selected>Select the standard</option>
                        <option [value]="standard" *ngFor="let standard of standardList">{{standard}}</option>
                    </select>
                    <div *ngIf="standard?.invalid &&(standard?.touched||standard?.dirty)">
                        <div class="error" *ngIf="standard?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label class="required">Section</label>
                    <select class="custom-select" class="form-control" name="section" formControlName="section"
                        (change)="getSubjects()">
                        <option value="" selected>Select the section</option>
                        <option *ngFor="let class of classList">{{class.section}}</option>
                    </select>
                    <div *ngIf="section?.invalid &&(section?.touched||section?.dirty)">
                        <div class="error" *ngIf="section?.errors?.required">* This field is required</div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <label class="required">Subject Name</label>
                    <select class="custom-select" class="form-control" name="subject" formControlName="subject"
                        (change)="getUnits()">
                        <option value="" selected>Select the subject</option>
                        <option *ngFor="let subject of subjectList">{{subject.code}}-{{subject.name}}</option>
                    </select>
                    <div *ngIf="subject?.invalid &&(subject?.touched||subject?.dirty)">
                        <div class="error" *ngIf="subject?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label class="required">Unit</label>
                    <select class="custom-select" class="form-control" name="unit" formControlName="unit"
                        (change)="getTopics()">
                        <option value="" selected>Select the unit</option>
                        <option *ngFor="let unit of unitList">{{unit.unitNo}}-{{unit.unitName}}</option>
                    </select>
                    <div *ngIf="unit?.invalid &&(unit?.touched||unit?.dirty)">
                        <div class="error" *ngIf="unit?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label class="required">Topic</label>
                    <select class="custom-select" class="form-control" name="topic" formControlName="topic">
                        <option value="" selected>Select the topic</option>
                        <option *ngFor="let topic of topicList">{{topic.id}}-{{topic.name}}</option>
                    </select>
                    <div *ngIf="topic?.invalid &&(topic?.touched||topic?.dirty)">
                        <div class="error" *ngIf="topic?.errors?.required">* This field is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-group">
                <label class="required">Question</label>
                <input type="text" class="form-control" name="question" formControlName="question"
                    placeholder="Enter the question">
                <div *ngIf="question?.invalid &&(question?.touched||question?.dirty)">
                    <div class="error" *ngIf="question?.errors?.required">* This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label class="required">Answer</label>
                <textarea rows="3" cols="50" class="form-control" name="answer" formControlName="answer"
                    placeholder="Enter the answer"></textarea>
                <div *ngIf="answer?.invalid &&(answer?.touched||answer?.dirty)">
                    <div class="error" *ngIf="answer?.errors?.required">* This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label class="required">Date</label>
                <input type="date" class="form-control" name="date" formControlName="date" placeholder="Enter the date">
                <div *ngIf="date?.invalid &&(date?.touched||date?.dirty)">
                    <div class="error" *ngIf="date?.errors?.required">* This field is required</div>
                </div>
            </div>
            <button id="submitButton" class="btn btn-info" type="submit" [disabled]="!AddDiscussionForm.valid"
                (click)="addDiscussion()">Add Discussion</button>
            <button id="resetButton" class="btn btn-info" type="reset">Reset</button>
        </div>
    </form>
</div>