<div id="main" class="container-fluid mb-3">
    <h3 class="title"><b><i>View Discussion Details</i></b></h3>
    <form [formGroup]="ViewDiscussionForm">
        <div id="viewDiscussion" class="col-sm-10">
            <div class="row">
            <div class="col">
                <label class="required">Standard</label>
                <select class="custom-select" class="form-control" name="standard" (change)="getSections()"
                    formControlName="standard">
                    <option value="" selected>Select the standard</option>
                    <option [value]="standard" *ngFor="let standard of standardList">{{standard}}</option>
                </select>
                <div *ngIf="standard?.invalid &&(standard?.touched||standard?.dirty)">
                    <div class="error" *ngIf="standard?.errors?.required">* This field is required</div>
                </div>
            </div>
            <div class="col">
                <label class="required">Section</label>
                <select class="custom-select" class="form-control" name="section" formControlName="section" (change)="getSubjects()">
                    <option value="" selected>Select the section</option>
                    <option *ngFor="let class of classList">{{class.section}}</option>
                </select>
                <div *ngIf="section?.invalid &&(section?.touched||section?.dirty)">
                    <div class="error" *ngIf="section?.errors?.required">* This field is required</div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <label class="required">Subject Name</label>
                <select class="custom-select" class="form-control" name="subject" formControlName="subject"
                    (change)="getTopics()">
                    <option value="" selected>Select the subject</option>
                    <option *ngFor="let subject of subjectList">{{subject.code}}-{{subject.name}}</option>
                </select>
                <div *ngIf="subject?.invalid &&(subject?.touched||subject?.dirty)">
                    <div class="error" *ngIf="subject?.errors?.required">* This field is required</div>
                </div>
            </div>
            <div class="col">
                <label class="required">Unit</label>
                <select class="custom-select" class="form-control" name="unit" formControlName="unit">
                    <option value="" selected>Select the unit</option>
                    <option *ngFor="let topic of topicList">{{topic.unitNo}}-{{topic.unitName}}</option>
                </select>
                <div *ngIf="unit?.invalid &&(unit?.touched||unit?.dirty)">
                    <div class="error" *ngIf="unit?.errors?.required">* This field is required</div>
                </div>
            </div>
        </div><br>
            <button id="submitButton" class="btn btn-info" type="submit" (click)="getDiscussions()">Get Discussions</button>
            <button id="resetButton" class="btn btn-info" type="reset">Reset</button><br>
            <ng-template #elseBlock>  
                <label class="notFound">{{errorMessage}}</label> 
            </ng-template> 
            </div><br>
            <div *ngIf="discussionList.length>0 else elseBlock">
            <table class="table table-bordered" [hidden]="isHidden">
                <thead>
                    <tr>
                        <th>Question No</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Discussion Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let discussion of discussionList">
                        <td><input type="radio" name="option" formControlName="option" value="{{discussion.questionNo}}"></td>
                        <td>{{discussion.question}}</td>
                        <td>{{discussion.answer}}</td>
                        <td>{{discussion.date}}</td>
                    </tr>
                </tbody>
            </table>
        <button id="deleteButton" (click)="deleteDiscussion()" class="btn btn-info" type="submit" [hidden]="isHidden" 
            [disabled]="option?.value==0">Delete</button>
        <button id="updateButton" (click)="updateDiscussion()" class="btn btn-info" type="submit" [hidden]="isHidden"
            [disabled]="option?.value==0">Update</button>
        </div>
    </form> 
</div>
