<div id="main" class="container-fluid mb-3">
    <h3 class="title"><b><i>Update Class Details</i></b></h3>
    <form>
        <div class="form-group">
            <label>Room Number</label>
            <input type="text" name="roomNo" class="form-control form-control" [(ngModel)]="classDetail.roomNo" readonly="true">
        </div>
        <div class="form-group">
            <label>Standard</label>
            <input type="text" name="standard" class="form-control" [(ngModel)]="classDetail.standard">
        </div>
        <div class="form-group">
            <label>Section</label>
            <input type="text" name="section" class="form-control" [(ngModel)]="classDetail.section">
        </div>
        <button id="submitButton" class="btn btn-success" type="submit" (click)=" updateClass()">Update</button>
        <button id="closeButton" class="btn btn-danger" type="submit" (click)="close()">Close</button>
    </form>
</div>