<div class="container-fluid mb-3">
    <h3 class="title"><b><i>Update Unit Form</i></b></h3>
    <form>
        <div class="form-group">
            <label>Unit Number</label>
            <input type="text" class="form-control" name="unitNo" [(ngModel)]="unit.unitNo" readonly="true">
        </div>
        <div class="form-group">
            <label>Unit Name</label>
            <input type="text" class="form-control" name="unitName" [(ngModel)]="unit.unitName">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea rows="5" cols="5" class="form-control" name="description"
                [(ngModel)]="unit.description"></textarea>
        </div>
        <div class="form-group">
            <label>Month</label>
            <select class="custom-select" class="form-control" name="month" [(ngModel)]="unit.month">
                <option value="" selected>Select the month</option>
                <option [value]="month" *ngFor="let month of monthList">{{month}}</option>
            </select>
        </div>
        <button id="submitButton" (click)="updateUnit()" class="btn btn-info">Update</button>
        <button id="resetButton" class="btn btn-info" type="submit" (click)="close()">Close</button>
    </form>
</div>