<div id="main" class="container-fluid mb-3">
    <h3 class="title"><b><i>Add Topic Status</i></b></h3>
    <form [formGroup]="UpdateUnitStatusForm">
        <div id="addTopicStatus" class="col-sm-10">
            <div class="row">
                <div class="col">
                    <label class="required">Standard</label>
                    <select class="custom-select" class="form-control" name="standard" (change)="getSections()"
                        formControlName="standard">
                        <option value="" selected>Select the standard</option>
                        <option [value]="standard" *ngFor="let standard of standardList">{{standard}}</option>
                    </select>
                    <div *ngIf="standard?.invalid &&(standard?.touched||standard?.dirty)">
                        <div class="error" *ngIf="standard?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label class="required">Section</label>
                    <select class="custom-select" class="form-control" name="section" formControlName="section"
                        (change)="getSubjects()">
                        <option value="" selected>Select the section</option>
                        <option *ngFor="let class of classList">{{class.section}}</option>
                    </select>
                    <div *ngIf="section?.invalid &&(section?.touched||section?.dirty)">
                        <div class="error" *ngIf="section?.errors?.required">* This field is required</div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <label class="required">Subject Name</label>
                    <select class="custom-select" class="form-control" name="subject" formControlName="subject"
                        (change)="getTopics()">
                        <option value="" selected>Select the subject</option>
                        <option *ngFor="let subject of subjectList">{{subject.code}}-{{subject.name}}</option>
                    </select>
                    <div *ngIf="subject?.invalid &&(subject?.touched||subject?.dirty)">
                        <div class="error" *ngIf="subject?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label class="required">Unit</label>
                    <select class="custom-select" class="form-control" name="unit" formControlName="unit">
                        <option value="" selected>Select the unit</option>
                        <option *ngFor="let unit of unitList">{{unit.unitNo}}-{{unit.unitName}}</option>
                    </select>
                    <div *ngIf="unit?.invalid &&(unit?.touched||unit?.dirty)">
                        <div class="error" *ngIf="unit?.errors?.required">* This field is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-group">
                <label class="required">Status</label>
                <select class="custom-select" class="form-control" name="status" formControlName="status"
                    placeholder="Enter the status">
                    <option value="" selected>Select the status</option>
                    <option>Started</option>
                    <option>Partially completed</option>
                    <option>Completed</option>
                </select>
                <div *ngIf="status?.invalid &&(status?.touched||status?.dirty)">
                    <div class="error" *ngIf="status?.errors?.required">* This field is required</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="required">Begin Date</label>
                    <input type="date" class="form-control" name="beginDate" formControlName="beginDate"
                        placeholder="Enter the begin date">
                    <div *ngIf="beginDate?.invalid &&(beginDate?.touched||beginDate?.dirty)">
                        <div class="error" *ngIf="beginDate?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label>Completed Date</label>
                    <input type="date" class="form-control" name="completedDate" formControlName="completedDate"
                        placeholder="Enter the completion date">
                </div>
            </div><br>
            <div class="form-group">
                <label>Remarks</label>
                <textarea rows="3" cols="50" class="form-control" name="remarks" formControlName="remarks"
                    placeholder="Enter the remarks"></textarea>
            </div>
            <button id="submitButton" class="btn btn-info" type="submit" [disabled]="!UpdateUnitStatusForm.valid"
                (click)="addTopicStatus()">Submit</button>
            <button id="resetButton" class="btn btn-info" type="reset">Reset</button>
        </div>
    </form>
</div>