<div id="main" class="container-fluid mb-3">
    <h3 class="title"><b><i>Add class Details</i></b></h3>
    <form [formGroup]="AddClassForm" >
        <div id="addForm" class="col-sm-6">
            <div class="form-group">
                <label class="required">Standard</label>
                <input type="text" class="form-control" name="standard" formControlName="standard"
                    placeholder="Enter the standard">
                <div *ngIf="standard?.invalid && (standard?.dirty||standard?.touched)" class="error">
                    <div *ngIf="standard?.errors?.required">Standard is required!</div>
                    <div *ngIf="standard?.errors?.maxlength">Standard must contain only 4 letters</div>
                </div>
            </div>
            <div class="form-group">
                <label class="required">Section</label>
                <input type="text" class="form-control" name="section" formControlName="section"
                    placeholder="Enter the section">
                <div *ngIf="section?.invalid && (section?.dirty||section?.touched)" class="error">
                    <div *ngIf="section?.errors?.required">Section is required!</div>
                </div>
            </div>
            <div class="form-group">
                <label class="required">Room Number</label>
                <input type="number" class="form-control" name="roomNo" formControlName="roomNo"
                    placeholder="Enter the room number">
                <div *ngIf="roomNo?.invalid && (roomNo?.dirty||roomNo?.touched)" class="error">
                    <div *ngIf="roomNo?.errors?.required">Class Room Number is required!</div>
                </div>
            </div>
            <button id="submitButton" class="btn btn-info" type="submit" (click)="addClass()" [disabled]="!AddClassForm.valid">Submit</button>
            <button id="resetButton" class="btn btn-info" type="reset">Reset</button>
        </div>
    </form>
</div>