.title
{
    text-align: center;
    color:rgb(22, 77, 160)  
}
.boxed
{
  width: 800px;
  border: 2px solid aqua;
  padding: 10px;
  margin-left :200px;
  margin-right:100px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgb(46, 175, 158);
}