.title
{
    text-align: center;
    color:rgb(22, 77, 160)  
}
#main{
    margin-top: 50px;
}
.required:after {
    content:" *";
    color: red;
  }
label{
    font-weight:bold;
}
#submitButton{
    margin-left: 8cm;
}
#resetButton
{
    margin-left: 0.5cm;
}
.error
{
    color: red;
}
#deleteButton
{
    margin-left: 14cm;
}
#backButton{
    margin-left: 1cm;
}
#viewStudent{
    margin-left: 6cm;
}