<div id="main" class="container-fluid mb-3">
    <h3 class="title"><b><i>Add Topic Form</i></b></h3>
    <form [formGroup]="AddTopicForm">
        <div id="addTopic" class="col-sm-8">
            <div class="form-group">
                <label class="required">Standard</label>
                <select class="custom-select" class="form-control" name="standard" (change)="getSubjects()"
                    formControlName="standard">
                    <option value="" selected>Select the standard</option>
                    <option [value]="standard" *ngFor="let standard of standardList">{{standard}}</option>
                </select>
                <div *ngIf="standard?.invalid &&(standard?.touched||standard?.dirty)">
                    <div class="error" *ngIf="standard?.errors?.required">* This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label class="required">Subject Name</label>
                <select class="custom-select" class="form-control" name="subject" formControlName="subject" (change)="getUnits()">
                    <option value="" selected>Select the subject name</option>
                    <option *ngFor="let subjectAssign of subjectAssignList">
                        {{subjectAssign.subject?.code}}-{{subjectAssign.subject?.name}}</option>
                </select>
                <div *ngIf="subject?.invalid &&(subject?.touched||subject?.dirty)">
                    <div class="error" *ngIf="subject?.errors?.required">* This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label class="required">Unit</label>
                <select class="custom-select" class="form-control" name="unit" formControlName="unit">
                    <option value="" selected>Select the unit</option>
                    <option *ngFor="let unit of unitList">{{unit.unitNo}}-{{unit.unitName}}</option>
                </select>
                <div *ngIf="unit?.invalid &&(unit?.touched||unit?.dirty)">
                    <div class="error" *ngIf="unit?.errors?.required">* This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label class="required">Topic Name</label>
                <input type="text" class="form-control" name="topicName" formControlName="topicName" placeholder="Enter the topic name">
            </div>
            <button id="submitButton" class="btn btn-info" type="submit" [disabled]="!AddTopicForm.valid"
                (click)="addTopic()">Add Topic</button>
            <button id="resetButton" class="btn btn-info" type="reset">Reset</button>
        </div>
    </form>
</div>

