.title
{
    text-align: center;
    color:rgb(22, 77, 160)  
}
.required:after {
    content:" *";
    color: red;
  }
label{
    font-weight:bold;
}
#submitButton{
    margin-left: 8cm;
}
#resetButton
{
    margin-left: 0.5cm;
}
.error
{
    color: red;
}
.info{
    color:blue;
}
#main{
    margin-top: 50px;
}
#updateDiscussion{
    margin-left: 5.5cm;
}