.title
{
    text-align: center;
    color:rgb(22, 77, 160)  
}
.required:after {
    content:" *";
    color: red;
  }
label{
    font-weight:bold;
}
#submitButton{
    margin-top:28px;
}
#resetButton
{
    margin-left: 0.5cm;
}
.error
{
    color: red;
}
.info{
    color:blue;
}
#updateButton{
    margin-left: 1cm;
}
#deleteButton{
    margin-left: 13cm;
}
.notFound
{
    margin-left: 14cm;
    color: crimson;
}
#main{
    margin-top:50px;
}
th,td{
    text-align: center;
}
#viewTimetable{
    margin-left: 6.5cm;
}