<div id="main" class="container-fluid mb-3">
    <h3 class="title"><b><i>Add Major Form</i></b></h3>
    <form #majorForm="ngForm">
        <div id="majorForm">
            <div class="form-group">
                <label class="required">Name</label>
                 <input type="text" class="form-control" name="name" ngModel required #majorName="ngModel" placeholder="Enter the major">
                <div *ngIf="majorName.touched">
                    <div class="error" *ngIf="majorName.errors?.required">* This field is required</div>
                </div>
            </div>
            <button id="submitButton" class="btn btn-primary" type="submit" (click)="majorForm.form.valid && addMajor(majorForm.value)">Add</button>
            <button id="resetButton" class="btn btn-primary" type="reset">Clear</button>
        </div>
    </form>
</div>
