<div class="container-fluid mb-3">
    <h3 class="title"><b><i>Add TimeTable</i></b></h3>
    <form [formGroup]="AddTimetableForm">
        <div class="boxed">
            <div class="form-group">
                <label class="required">Standard</label>
                <select class="custom-select" class="form-control" name="standard" (change)="getSections()" formControlName="standard">
                    <option value="" selected>Select the standard</option>
                    <option [value]="standard" *ngFor="let standard of standardList">{{standard}}</option>
                </select>
                <div *ngIf="standard?.invalid &&(standard?.touched||standard?.dirty)">
                    <div class="error" *ngIf="standard?.errors?.required">* This field is required</div>
                </div> 
            </div>
            <div class="form-group">
                <label class="required">Section</label>
                <select class="custom-select" class="form-control" name="section" formControlName="section">
                    <option value="" selected>Select the section</option>
                    <option *ngFor="let class of classList">{{class.section}}</option>
                </select>
                <div *ngIf="section?.invalid &&(section?.touched||section?.dirty)">
                    <div class="error" *ngIf="section?.errors?.required">* This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label class="required">Day</label>
                <select class="custom-select" class="form-control" name="day" formControlName="day">
                    <option value="" selected>Select the day</option>
                    <option [value]="day" *ngFor="let day of daysList">{{day}}</option>
                </select>
                <div *ngIf="day?.invalid &&(day?.touched||day?.dirty)">
                    <div class="error" *ngIf="day?.errors?.required">* This field is required</div>
                </div>
            </div>
        </div>
    </form>
</div>
