<div id="main" class="container-fluid mb-3">
    <h3 class="title"><b><i>View Topics Form</i></b></h3>
    <form [formGroup]="ViewTopicsForm">
        <div id="viewTopics" class="col-sm-6">
            <div class="row">
                <div class="col">
                    <label class="required">Standard</label>
                    <select class="custom-select" class="form-control" name="standard" (change)="getSubjects()"
                        formControlName="standard">
                        <option value="" selected>Select the standard</option>
                        <option [value]="standard" *ngFor="let standard of standardList">{{standard}}</option>
                    </select>
                    <div *ngIf="standard?.invalid &&(standard?.touched||standard?.dirty)">
                        <div class="error" *ngIf="standard?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label class="required">Subject Name</label>
                    <select class="custom-select" class="form-control" name="subject" formControlName="subject"
                        (change)="getUnits()">
                        <option value="" selected>Select the subject name</option>
                        <option *ngFor="let subjectAssign of subjectAssignList">
                            {{subjectAssign.subject?.code}}-{{subjectAssign.subject?.name}}</option>
                    </select>
                    <div *ngIf="subject?.invalid &&(subject?.touched||subject?.dirty)">
                        <div class="error" *ngIf="subject?.errors?.required">* This field is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-group">
                <label class="required">Unit</label>
                <select class="custom-select" class="form-control" name="unit" formControlName="unit">
                    <option value="" selected>Select the unit</option>
                    <option *ngFor="let unit of unitList">{{unit.unitNo}}-{{unit.unitName}}</option>
                </select>
                <div *ngIf="unit?.invalid &&(unit?.touched||unit?.dirty)">
                    <div class="error" *ngIf="unit?.errors?.required">* This field is required</div>
                </div>
            </div>
            <button id="submitButton" class="btn btn-info" type="submit" [disabled]="!ViewTopicsForm.valid"
                (click)="viewTopics()">View Topics</button>
            <button id="resetButton" class="btn btn-info" type="reset">Reset</button>
        </div><br>
        <ng-template #elseBlock>
            <label class="notFound">{{errorMessage}}</label>
        </ng-template>
        <div *ngIf="topicList.length>0 else elseBlock">
            <table id="topicTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Topic Number</th>
                        <th>Topic Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let topic of topicList;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{topic.name}}</td>
                        <td><button class="btn btn-success" type="submit" (click)="updateTopic(topic)">Update</button>
                            <!-- <button id="deleteButton" class="btn btn-success" type="submit" (click)="deleteTopic(topic)">Delete</button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>