<div id="main" class="container-fluid mb-3">
    <h3 class="title"><b><i>View Staffs</i></b></h3>
    <form #viewStaffForm="ngForm">
        <div id="viewStaff" class="col-sm-6">
            <div class="form-group">
                <label class="required">Standard</label>
                <select class="custom-select" class="form-control" #std="ngModel" name="standard"
                    (change)="getSections()" ngModel [(ngModel)]="standard" required>
                    <option value="" selected>Select the standard</option>
                    <option [value]="standard" *ngFor="let standard of standardList">{{standard}}</option>
                </select>
                <div *ngIf="std?.touched">
                    <div class="error" *ngIf="std?.errors?.required">* This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label class="required">Section</label>
                <select class="custom-select" class="form-control" name="section" [(ngModel)]="section"
                    #sectionDetail="ngModel" ngModel required>
                    <option value="" selected>Select the section</option>
                    <option *ngFor="let class of classList">{{class.section}}</option>
                </select>
                <div *ngIf="sectionDetail?.touched">
                    <div class="error" *ngIf="sectionDetail?.errors?.required">* This field is required</div>
                </div>
            </div>
            <button id="submitButton" class="btn btn-info" type="submit" (click)="getStaffs()">Get Details</button>
            <button id="resetButton" class="btn btn-info" type="reset">Reset</button><br>
        </div><br>
        <ng-template #elseBlock>
            <label class="notFound">{{errorMessage}}</label>
        </ng-template>
        <div *ngIf="subjectList.length>0&&teacherList.length>0 else elseBlock">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Subject Code</th>
                        <th>Subject Name</th>
                        <th>Staff Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Major</th>
                        <th>Contact Number</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let subject of subjectList;let i=index">
                        <td>{{subject.code}}</td>
                        <td>{{subject.name}}</td>
                        <td>{{teacherList[i].id}}</td>
                        <td>{{teacherList[i].firstName}}</td>
                        <td>{{teacherList[i].lastName}}</td>
                        <td>{{teacherList[i].major}}</td>
                        <td>{{teacherList[i].contactNo}}</td>
                        <td>{{teacherList[i].email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>