<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Curriculum Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="margin-left: 30px;">Class</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="addclass">Add class</a>
          <a class="dropdown-item" routerLink="viewclass">View Class</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Teacher</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="viewteachers">View All Staffs</a>
          <a class="dropdown-item" routerLink="staffassign">Assign Staff </a>
          <a class="dropdown-item" routerLink="viewstaffs">View Staffs</a>
          <a class="dropdown-item" routerLink="updatestaffassign">Change Staff</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Subject</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="addsubject">Add Subject</a>
          <a class="dropdown-item" routerLink="viewsubjects">View Subject</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Student</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="addstudent">Add Student</a>
          <a class="dropdown-item" routerLink="viewstudents">View Students</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Unit</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="addunit">Add Unit</a>
          <a class="dropdown-item" routerLink="viewunits">View Units</a>
          <a class="dropdown-item" routerLink="viewunitstatus">View Unit Status</a>
          <a class="dropdown-item" routerLink="addtopic">Add Topic</a>
          <a class="dropdown-item" routerLink="viewtopics">View Topics</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Discussion</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="viewdiscussions">View Discussions</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Timetable</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="addtimetable">Add Timetable</a>
          <a class="dropdown-item" routerLink="viewtimetable">View Timetable</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Profile</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="viewprofile">View Profile</a>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <h4 class="user">Welcome {{headMaster.firstName}} {{headMaster.lastName}}</h4>
  </div>
  <div>
    <button type="button" class="btn btn-dark" (click)="logout()">Log out</button>
  </div>
</nav>
<router-outlet></router-outlet>