.title
{
    text-align: center;
    color:rgb(22, 77, 160)  
}
.required:after {
    content:" *";
    color: red;
  }
label{
    font-weight:bold;
}
#submitButton{
    margin-top:28px;
}
#resetButton
{
    margin-left: 0.5cm;
}
.error
{
    color: red;
}
#updateButton{
    margin-left: 0.5cm;
}
#deleteButton{
    margin-left: 15cm;
}
#main{
    margin-top: 50px;
}
#viewSubjects{
    margin-left: 8cm;
}
.notFound{
    text-align: center;
    color: red;
}
th,td{
    text-align: center;
}