<div class="container-fluid mb-3">
    <h3 class="title"><b><i>View Topic Status</i></b></h3>
    <form [formGroup]="ViewTopicStatusForm">
        <div class="boxed">
            <div class="row">
                <div class="col">
                    <label class="required">Standard</label>
                    <select class="custom-select" class="form-control" name="standard" (change)="getSections()"
                        formControlName="standard">
                        <option value="" selected>Select the standard</option>
                        <option [value]="standard" *ngFor="let standard of standardList">{{standard}}</option>
                    </select>
                    <div *ngIf="standard?.invalid &&(standard?.touched||standard?.dirty)">
                        <div class="error" *ngIf="standard?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label class="required">Section</label>
                    <select class="custom-select" class="form-control" name="section" formControlName="section"
                        (change)="getSubjects()">
                        <option value="" selected>Select the section</option>
                        <option *ngFor="let class of classList">{{class.section}}</option>
                    </select>
                    <div *ngIf="section?.invalid &&(section?.touched||section?.dirty)">
                        <div class="error" *ngIf="section?.errors?.required">* This field is required</div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <label class="required">Subject Name</label>
                    <select class="custom-select" class="form-control" name="subject" formControlName="subject"
                        (change)="getTopics()">
                        <option value="" selected>Select the subject</option>
                        <option *ngFor="let subject of subjectList">{{subject.code}}-{{subject.name}}</option>
                    </select>
                    <div *ngIf="subject?.invalid &&(subject?.touched||subject?.dirty)">
                        <div class="error" *ngIf="subject?.errors?.required">* This field is required</div>
                    </div>
                </div>
                <div class="col">
                    <label class="required">Unit</label>
                    <select class="custom-select" class="form-control" name="unit" formControlName="unit">
                        <option value="" selected>Select the unit</option>
                        <option *ngFor="let topic of topicList">{{topic.unitNo}}-{{topic.unitName}}</option>
                    </select>
                    <div *ngIf="unit?.invalid &&(unit?.touched||unit?.dirty)">
                        <div class="error" *ngIf="unit?.errors?.required">* This field is required</div>
                    </div>
                </div>
            </div><br>
            <button id="submitButton" class="btn btn-info" type="submit" (click)="getTopicStatus()">Get Topic
                Status</button>
            <button id="resetButton" class="btn btn-info" type="reset">Reset</button><br>
            <ng-template #elseBlock>  
                <label class="notFound">No discussion found!</label> 
            </ng-template>
            <!-- <div> -->
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Unit Number</th>
                            <th>Unit Name</th>
                            <th>Month</th>
                            <th>Begin Date</th>
                            <th>Completed Date</th>
                            <th>Status</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{topicStatus.topic?.unitNo}}</td>
                            <td>{{topicStatus.topic?.unitName}}</td>
                            <td>{{topicStatus.topic?.month}}</td>
                            <td>{{topicStatus.beginDate}}</td>
                            <td>{{topicStatus.completedDate}}</td>
                            <td>{{topicStatus.status}}</td>
                            <td>{{topicStatus.remarks}}</td>
                        </tr>
                    </tbody>
                </table>
                <button id="deleteButton" (click)="deleteStatus()" class="btn btn-info" type="submit" [hidden]="!isHidden">Delete</button>
                <button id="updateButton" (click)="updateStatus()" class="btn btn-info" type="submit" [hidden]="!isHidden">Update</button>
            </div>
        </div>
    </form>
</div>