<div id="main" class="container-fluid mb-3">
    <h3 class="title"><b><i>Login Form</i></b></h3>
    <form #loginForm="ngForm">
        <div id="loginForm" class="col-sm-6">
            <div class="form-group">
                <label class="required">Email</label>
                <input type="text" class="form-control" #email="ngModel" name="username" ngModel [(ngModel)]="username"
                    placeholder="Enter your email" required email>
                <div *ngIf="email.touched">
                    <div class="error" *ngIf="email.errors?.required">* This field is required</div>
                    <div class="error" *ngIf="email.errors?.email">* Enter the valid email</div>
                </div>
            </div>
            <div class="form-group">
                <label class="required">Password</label>
                <input type="password" class="form-control" #pwd="ngModel" name="password" ngModel
                    [(ngModel)]="password" placeholder="Enter the password and password contains atleast 8 characters"
                    required minlength="8">
                <span class="info">Password must contains atleast 8 characters</span>
                <div *ngIf="pwd.touched">
                    <div class="error" *ngIf="pwd.errors?.required">* This field is required</div>
                    <div class="error" *ngIf="pwd.errors?.minlength">* Password must contains atleast 8 characters</div>
                </div>
            </div>
            <button class="btn btn-success" id="submitButton" type="submit" (click)="checkUser()"
                [disabled]="loginForm.invalid">Login</button>
            <button class="btn btn-primary" id="resetButton" type="submit" (click)="forgotPassword()">Change/Reset
                Password</button><br><br>
            <div class="signup"><button class="btn btn-default" (click)="signup()">New User? Register Here</button>
            </div>
        </div>
    </form>
</div>