<div class="container-fluid mb-3">
    <h3 class="title"><b><i>Update Timetable</i></b></h3>
    <form>
        <div class="form-group">
            <label class="required">Day</label>
            <select class="custom-select" class="form-control" name="day" [(ngModel)]="day">
                <option value="" selected>Select the day</option>
                <option [value]="day" *ngFor="let day of daysList">{{day}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="required">Period</label>
            <select class="custom-select" class="form-control" name="period" [(ngModel)]="period" (change)="getPeriod()">
                <option value="" selected>Select the period</option>
                <option [value]="period" *ngFor="let period of periodList">{{period}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Existing period</label>
            <input type="text" class="form-control" name="existingPngeriod" [(ngModel)]="existingPeriod">
        </div>
        <div class="form-group">
            <label class="required">Subject Name</label>
            <select class="custom-select" class="form-control" name="subject" [(ngModel)]="subject" >
                <option value="" selected>Select the subject name</option>
                <option *ngFor="let subjectAssign of subjectAssignList">
                    {{subjectAssign.subject?.code}}-{{subjectAssign.subject?.name}}</option>
            </select>
        </div>
        <button class="btn btn-success" id="submitButton" type="submit" (click)="updateTimetable()">Update Timetable</button>
        <button class="btn btn-success" id="resetButton" type="submit" (click)="close()">Close</button> <br>
    </form>
</div>